# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
.next/
out/
build/
*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example

# Prisma
apps/api/prisma/*.db

# Turborepo
.turbo/

# Testing
coverage/
playwright-report/
test-results/

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
